body
  background-color: #292929

  color: #dadada

.header
  margin-left: 3%
  color: #FFFFFF
  font-weight: 200

#app
  padding: 20px


#toolbar
  @import "toolbar/index"

#content
  margin-top: 40px


@import "calendar/event"

@import "picker/index"


@import "react-timetable/index"
@import "react-materialform"
